In [1]:
#Import dependencies
import pandas as pd
import datetime as dt

In [2]:
nba_draft = pd.read_csv("2007-2016_nba_draft_rd1-2.csv", engine='python')
nba_draft.head()

,Rk,Year,Lg,Rd,Pk,Tm,Player,Age,Pos,Born,...,TRB,AST,STL,BLK,FG%,2P%,3P%,FT%,WS,WS/48
0,1,2007,NBA,1,2,SEA,Kevin Durant,18.276,F-G,us,...,7.1,4.1,1.1,1.1,0.493,0.532,0.381,0.883,141.7,0.217
1,2,2009,NBA,1,3,OKC,James Harden,19.308,G,us,...,5.3,6.3,1.6,0.5,0.443,0.508,0.364,0.858,131.9,0.226
2,3,2009,NBA,1,7,GSW,Stephen Curry,21.108,G,us,...,4.5,6.6,1.7,0.2,0.476,0.515,0.435,0.905,103.1,0.206
3,4,2008,NBA,1,4,SEA,Russell Westbrook,19.231,G,us,...,7.1,8.3,1.7,0.3,0.436,0.468,0.304,0.801,100.5,0.161
4,5,2007,NBA,1,3,ATL,Al Horford,21.030,C-F,do,...,8.3,3.3,0.8,1.2,0.520,0.544,0.361,0.753,89.8,0.158

In [3]:
draft_condensed = nba_draft[["Player", "Year", "Tm", "College"]]
draft_condensed.head()

              Player  Year   Tm        College
0       Kevin Durant  2007  SEA          Texas
1       James Harden  2009  OKC  Arizona State
2      Stephen Curry  2009  GSW       Davidson
3  Russell Westbrook  2008  SEA           UCLA
4         Al Horford  2007  ATL        Florida

In [4]:
#Can convert to list by adding .values.tolist() at the end of each
first_year = draft_condensed.loc[draft_condensed["Year"] == 2007].copy()
second_year = draft_condensed.loc[draft_condensed["Year"] == 2008].copy()
third_year = draft_condensed.loc[draft_condensed["Year"] == 2009].copy()
fourth_year = draft_condensed.loc[draft_condensed["Year"] == 2010].copy()
fifth_year = draft_condensed.loc[draft_condensed["Year"] == 2011].copy()
sixth_year = draft_condensed.loc[draft_condensed["Year"] == 2012].copy()
seventh_year = draft_condensed.loc[draft_condensed["Year"] == 2013].copy()
eighth_year = draft_condensed.loc[draft_condensed["Year"] == 2014].copy()
ninth_year = draft_condensed.loc[draft_condensed["Year"] == 2015].copy()
tenth_year = draft_condensed.loc[draft_condensed["Year"] == 2016].copy()