In [2]:
#Import dependencies
import pandas as pd
import datetime as dt
import numpy as np

In [3]:
nba_draft = pd.read_csv("2007-2016_nba_draft_rd1-2.csv", engine='python')
nba_draft.head()

,Rk,Year,Lg,Rd,Pk,Tm,Player,Age,Pos,Born,...,TRB,AST,STL,BLK,FG%,2P%,3P%,FT%,WS,WS/48
0,1,2007,NBA,1,2,SEA,Kevin Durant,18.276,F-G,us,...,7.1,4.1,1.1,1.1,0.493,0.532,0.381,0.883,141.7,0.217
1,2,2009,NBA,1,3,OKC,James Harden,19.308,G,us,...,5.3,6.3,1.6,0.5,0.443,0.508,0.364,0.858,131.9,0.226
2,3,2009,NBA,1,7,GSW,Stephen Curry,21.108,G,us,...,4.5,6.6,1.7,0.2,0.476,0.515,0.435,0.905,103.1,0.206
3,4,2008,NBA,1,4,SEA,Russell Westbrook,19.231,G,us,...,7.1,8.3,1.7,0.3,0.436,0.468,0.304,0.801,100.5,0.161
4,5,2007,NBA,1,3,ATL,Al Horford,21.030,C-F,do,...,8.3,3.3,0.8,1.2,0.520,0.544,0.361,0.753,89.8,0.158

In [4]:
draft_condensed = nba_draft[["Player", "Year", "Tm", "College"]]
draft_condensed.head()

              Player  Year   Tm        College
0       Kevin Durant  2007  SEA          Texas
1       James Harden  2009  OKC  Arizona State
2      Stephen Curry  2009  GSW       Davidson
3  Russell Westbrook  2008  SEA           UCLA
4         Al Horford  2007  ATL        Florida

In [5]:
first_year = draft_condensed.loc[draft_condensed["Year"] == 2007].copy()

In [6]:
first_year

                 Player  Year   Tm             College
0          Kevin Durant  2007  SEA               Texas
4            Al Horford  2007  ATL             Florida
6            Marc Gasol  2007  LAL                 NaN
12          Mike Conley  2007  MEM          Ohio State
20          Joakim Noah  2007  CHI             Florida
23       Thaddeus Young  2007  PHI        Georgia Tech
51         Jared Dudley  2007  CHA      Boston College
58           Jeff Green  2007  BOS          Georgetown
65          Carl Landry  2007  SEA              Purdue
70        Arron Afflalo  2007  DET                UCLA
77      Marco Belinelli  2007  GSW                 NaN
83      Wilson Chandler  2007  NYK              DePaul
85       Ramon Sessions  2007  MIL              Nevada
86       Rodney Stuckey  2007  DET  Eastern Washington
96       Brandan Wright  2007  CHA                 UNC
102      Tiago Splitter  2007  SAS                 NaN
116       Spencer Hawes  2007  SAC          Washington
118        Corey Brewer  2007  MIN             Florida
142        Aaron Brooks  2007  HOU              Oregon
145          Nick Young  2007  WAS                 USC
146          Glen Davis  2007  SEA                 LSU
148      Josh McRoberts  2007  POR                Duke
183      Rudy Fernï¿½ndez  2007  PHO                 NaN
184         Jason Smith  2007  MIA      Colorado State
246           Greg Oden  2007  POR          Ohio State
257          Aaron Gray  2007  CHI                Pitt
260         Al Thornton  2007  LAC       Florida State
278        Daequan Cook  2007  PHI          Ohio State
291     Dominic McGuire  2007  WAS        Fresno State
294       Julian Wright  2007  NOK              Kansas
312         Yi Jianlian  2007  MIL                 NaN
313       Sean Williams  2007  NJN      Boston College
340            Acie Law  2007  ATL           Texas A&M
360      Kyrylo Fesenko  2007  PHI                 NaN
365        Nick Fazekas  2007  DAL              Nevada
370       Chris Richard  2007  MIN             Florida
387       Alando Tucker  2007  PHO           Wisconsin
388         Gabe Pruitt  2007  BOS                 USC
395      Stï¿½phane Lasme  2007  GSW               UMass
420  Javaris Crittenton  2007  LAL        Georgia Tech
421       Derrick Byars  2007  POR          Vanderbilt
432       Morris Almond  2007  UTA     Rice University
433   Jermareo Davidson  2007  GSW             Alabama
434       JamesOn Curry  2007  CHI      Oklahoma State
458     Marcus Williams  2007  SAS             Arizona
459             Sun Yue  2007  LAL                 NaN
460       Taurean Green  2007  POR             Florida
479    Demetris Nichols  2007  POR            Syracuse
480     D.J. Strawberry  2007  PHO            Maryland
513     Petteri Koponen  2007  PHI                 NaN
514        Stanko Bara_  2007  MIA                 NaN
515        Adam Haluska  2007  NOK                Iowa
516      Reyshawn Terry  2007  ORL                 UNC
517        Jared Jordan  2007  LAC      Marist College
518   Renaldas Seibutis  2007  DAL                 NaN
519         Brad Newley  2007  HOU                 NaN
520        Herbert Hill  2007  UTA          Providence
521         Sammy Mejia  2007  DET              DePaul
522  Georgios Printezis  2007  SAS                 NaN
523      Milovan Rakovi  2007  DAL                 NaN

In [20]:
OhSeven_stats = pd.read_csv("Data/stats_2007.csv", engine='python')

In [21]:
OhSeven_stats

,attempted_three_point_field_goals,blocks,slug,personal_fouls,made_three_point_field_goals,attempted_field_goals,made_free_throws,name,minutes_played,turnovers,...,games_started,age,steals,team,points,attempted_free_throws,games_played,assists,offensive_rebounds,defensive_rebounds
0,20,40,abdursh01,243,3,654,170,Shareef Abdur-Rahim,2015,116,...,45,30,53,Team.SACRAMENTO_KINGS,793,234,80,109,122,276
1,1,4,adamsha01,47,0,135,24,Hassan Adams,495,22,...,8,22,17,Team.NEW_JERSEY_NETS,174,36,61,13,35,42
2,15,3,agerma01,27,5,70,20,Maurice Ager,214,15,...,1,22,4,Team.DALLAS_MAVERICKS,69,33,32,7,1,20
3,2,73,aldrila01,186,0,479,83,LaMarcus Aldridge,1392,43,...,22,21,22,Team.PORTLAND_TRAIL_BLAZERS,565,115,63,24,144,168
4,1,16,allenma01,85,0,258,28,Malik Allen,638,21,...,1,28,17,Team.CHICAGO_BULLS,242,34,60,16,42,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
482,260,43,artesro01,205,93,1040,307,Metta World Peace,2641,146,...,65,27,149,Team.SACRAMENTO_KINGS,1316,415,70,235,102,352
483,59,10,wrighan01,120,19,251,44,Antoine Wright,1137,43,...,23,22,30,Team.NEW_JERSEY_NETS,283,73,63,55,38,137
484,20,1,wrighbr02,6,6,60,13,Bracey Wright,190,6,...,0,22,9,Team.MINNESOTA_TIMBERWOLVES,67,18,19,15,7,14
485,34,46,wrighdo01,112,5,364,64,Dorell Wright,1292,65,...,19,21,41,Team.MIAMI_HEAT,393,86,66,95,40,232
486,0,28,wrighlo02,204,0,183,9,Lorenzen Wright,1035,39,...,31,31,28,Team.ATLANTA_HAWKS,173,32,67,40,85,131

In [22]:
OhSevenCondensed = OhSeven_stats[["name", "points", "assists", "defensive_rebounds", "offensive_rebounds"]]
OhSevenCondensed.head()

,name,points,assists,defensive_rebounds,offensive_rebounds
0,Shareef Abdur-Rahim,793,109,276,122
1,Hassan Adams,174,13,42,35
2,Maurice Ager,69,7,20,1
3,LaMarcus Aldridge,565,24,168,144
4,Malik Allen,242,16,77,42

In [24]:
OhEight_stats = pd.read_csv("Data/stats_2008.csv", engine='python')

In [25]:
OhEight_stats

,attempted_three_point_field_goals,blocks,slug,personal_fouls,made_three_point_field_goals,attempted_field_goals,made_free_throws,name,minutes_played,turnovers,...,games_started,age,steals,team,points,attempted_free_throws,games_played,assists,offensive_rebounds,defensive_rebounds
0,0,0,abdursh01,9,0,14,4,Shareef Abdur-Rahim,51,1,...,0,31,1,Team.SACRAMENTO_KINGS,10,4,6,4,6,4
1,48,8,afflaar01,83,10,241,68,Arron Afflalo,970,34,...,9,22,31,Team.DETROIT_PISTONS,276,87,75,52,36,101
2,8,1,agerma01,11,0,27,5,Maurice Ager,77,3,...,3,23,0,Team.DALLAS_MAVERICKS,15,6,12,4,1,3
3,11,0,agerma01,6,3,38,1,Maurice Ager,88,3,...,0,23,0,Team.NEW_JERSEY_NETS,36,6,14,4,3,6
4,34,0,ahearbl01,20,10,57,30,Blake Ahearn,177,16,...,0,23,6,Team.MIAMI_HEAT,70,31,12,19,1,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522,24,12,wrighju01,43,10,169,33,Julian Wright,640,34,...,1,20,29,Team.NEW_ORLEANS_HORNETS,223,52,57,40,33,84
523,0,3,wrighlo02,26,0,17,3,Lorenzen Wright,148,2,...,1,32,3,Team.ATLANTA_HAWKS,13,6,13,3,7,30
524,0,0,wrighlo02,5,0,4,0,Lorenzen Wright,13,2,...,0,32,0,Team.SACRAMENTO_KINGS,2,0,5,1,1,0
525,100,7,youngni01,130,40,478,101,Nick Young,1158,94,...,2,22,35,Team.WASHINGTON_WIZARDS,561,124,75,63,23,92
526,19,8,youngth01,126,6,490,76,Thaddeus Young,1554,64,...,22,19,73,Team.PHILADELPHIA_76ERS,610,103,74,58,120,192

In [26]:
OhEightCondensed = OhEight_stats[["name", "points", "assists", "defensive_rebounds", "offensive_rebounds"]]
OhEightCondensed.head()

,name,points,assists,defensive_rebounds,offensive_rebounds
0,Shareef Abdur-Rahim,10,4,4,6
1,Arron Afflalo,276,52,101,36
2,Maurice Ager,15,4,3,1
3,Maurice Ager,36,4,6,3
4,Blake Ahearn,70,19,18,1

In [27]:
pd.merge(OhSevenCondensed.reset_index(), OhEightCondensed.reset_index(), on=['name'])

,index_x,name,points_x,assists_x,defensive_rebounds_x,offensive_rebounds_x,index_y,points_y,assists_y,defensive_rebounds_y,offensive_rebounds_y
0,0,Shareef Abdur-Rahim,793,109,276,122,0,10,4,4,6
1,2,Maurice Ager,69,7,20,1,2,15,4,3,1
2,2,Maurice Ager,69,7,20,1,3,36,4,6,3
3,3,LaMarcus Aldridge,565,24,168,144,5,1350,122,358,220
4,4,Malik Allen,242,16,77,42,6,261,29,86,42
...,...,...,...,...,...,...,...,...,...,...,...
462,483,Antoine Wright,283,55,137,38,518,298,67,90,35
463,483,Antoine Wright,283,55,137,38,519,52,13,17,5
464,485,Dorell Wright,393,95,232,40,521,347,60,172,48
465,486,Lorenzen Wright,173,40,131,85,523,13,3,30,7
466,486,Lorenzen Wright,173,40,131,85,524,2,1,0,1

In [29]:
OhNine_stats = pd.read_csv("Data/stats_2009.csv", engine='python')

In [30]:
OhNine_stats

,attempted_three_point_field_goals,blocks,slug,personal_fouls,made_three_point_field_goals,attempted_field_goals,made_free_throws,name,minutes_played,turnovers,...,games_started,age,steals,team,points,attempted_free_throws,games_played,assists,offensive_rebounds,defensive_rebounds
0,4,1,ackeral01,0,0,11,1,Alex Acker,20,0,...,0,26,2,Team.DETROIT_PISTONS,9,2,7,1,0,2
1,16,3,ackeral01,9,7,65,4,Alex Acker,179,7,...,0,26,3,Team.LOS_ANGELES_CLIPPERS,63,8,18,11,8,14
2,0,1,adamsha01,4,0,13,3,Hassan Adams,52,4,...,0,24,1,Team.TORONTO_RAPTORS,11,6,12,1,1,6
3,107,13,afflaar01,144,43,300,58,Arron Afflalo,1234,43,...,8,23,28,Team.DETROIT_PISTONS,363,71,74,44,30,104
4,6,2,agerma01,17,0,43,4,Maurice Ager,97,4,...,0,24,1,Team.NEW_JERSEY_NETS,34,8,20,3,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,21,19,wrighju01,49,2,234,17,Julian Wright,772,43,...,19,21,35,Team.NEW_ORLEANS_HORNETS,237,30,54,43,46,106
511,0,5,wrighlo02,17,0,27,3,Lorenzen Wright,125,9,...,2,33,4,Team.CLEVELAND_CAVALIERS,23,8,17,3,7,18
512,164,20,youngni01,140,56,756,164,Nick Young,1837,92,...,5,23,39,Team.WASHINGTON_WIZARDS,892,193,82,95,31,119
513,164,23,youngth01,165,56,960,139,Thaddeus Young,2580,118,...,71,20,100,Team.PHILADELPHIA_76ERS,1145,189,75,86,139,238
514,6,1,yuesu01,10,0,11,0,Sun Yue,28,3,...,0,23,1,Team.LOS_ANGELES_LAKERS,6,0,10,2,0,0

In [31]:
OhNineCondensed = OhNine_stats[["name", "points", "assists", "defensive_rebounds", "offensive_rebounds"]]
OhNineCondensed.head()

            name  points  assists  defensive_rebounds  offensive_rebounds
0     Alex Acker       9        1                   2                   0
1     Alex Acker      63       11                  14                   8
2   Hassan Adams      11        1                   6                   1
3  Arron Afflalo     363       44                 104                  30
4   Maurice Ager      34        3                   7                   3

In [32]:
SevenEight = pd.merge(OhSevenCondensed, OhEightCondensed, on=['name'])
SevenEight

,name,points_x,assists_x,defensive_rebounds_x,offensive_rebounds_x,points_y,assists_y,defensive_rebounds_y,offensive_rebounds_y
0,Shareef Abdur-Rahim,793,109,276,122,10,4,4,6
1,Maurice Ager,69,7,20,1,15,4,3,1
2,Maurice Ager,69,7,20,1,36,4,6,3
3,LaMarcus Aldridge,565,24,168,144,1350,122,358,220
4,Malik Allen,242,16,77,42,261,29,86,42
...,...,...,...,...,...,...,...,...,...
462,Antoine Wright,283,55,137,38,298,67,90,35
463,Antoine Wright,283,55,137,38,52,13,17,5
464,Dorell Wright,393,95,232,40,347,60,172,48
465,Lorenzen Wright,173,40,131,85,13,3,30,7
466,Lorenzen Wright,173,40,131,85,2,1,0,1

In [33]:
SevenEightTPts = SevenEight["points_x"] + SevenEight["points_y"]
SevenEight["Total Points"] = SevenEightTPts
SevenEight.head()

,name,points_x,assists_x,defensive_rebounds_x,offensive_rebounds_x,points_y,assists_y,defensive_rebounds_y,offensive_rebounds_y,Total Points
0,Shareef Abdur-Rahim,793,109,276,122,10,4,4,6,803
1,Maurice Ager,69,7,20,1,15,4,3,1,84
2,Maurice Ager,69,7,20,1,36,4,6,3,105
3,LaMarcus Aldridge,565,24,168,144,1350,122,358,220,1915
4,Malik Allen,242,16,77,42,261,29,86,42,503

In [34]:
SevenEightDRbs = SevenEight["defensive_rebounds_x"] + SevenEight["defensive_rebounds_y"]
SevenEight["Total Defensive Rebounds"] = SevenEightDRbs
SevenEight.head()

,name,points_x,assists_x,defensive_rebounds_x,offensive_rebounds_x,points_y,assists_y,defensive_rebounds_y,offensive_rebounds_y,Total Points,Total Defensive Rebounds
0,Shareef Abdur-Rahim,793,109,276,122,10,4,4,6,803,280
1,Maurice Ager,69,7,20,1,15,4,3,1,84,23
2,Maurice Ager,69,7,20,1,36,4,6,3,105,26
3,LaMarcus Aldridge,565,24,168,144,1350,122,358,220,1915,526
4,Malik Allen,242,16,77,42,261,29,86,42,503,163

In [35]:
SevenEightORbs = SevenEight["offensive_rebounds_x"] + SevenEight["offensive_rebounds_y"]
SevenEight["Total Offensive Rebounds"] = SevenEightORbs
SevenEight.head()

,name,points_x,assists_x,defensive_rebounds_x,offensive_rebounds_x,points_y,assists_y,defensive_rebounds_y,offensive_rebounds_y,Total Points,Total Defensive Rebounds,Total Offensive Rebounds
0,Shareef Abdur-Rahim,793,109,276,122,10,4,4,6,803,280,128
1,Maurice Ager,69,7,20,1,15,4,3,1,84,23,2
2,Maurice Ager,69,7,20,1,36,4,6,3,105,26,4
3,LaMarcus Aldridge,565,24,168,144,1350,122,358,220,1915,526,364
4,Malik Allen,242,16,77,42,261,29,86,42,503,163,84

In [36]:
SevenEightTotalAssists = SevenEight["assists_x"] + SevenEight["assists_y"]
SevenEight["Total Asists"] = SevenEightTotalAssists
SevenEight.head()

,name,points_x,assists_x,defensive_rebounds_x,offensive_rebounds_x,points_y,assists_y,defensive_rebounds_y,offensive_rebounds_y,Total Points,Total Defensive Rebounds,Total Offensive Rebounds,Total Asists
0,Shareef Abdur-Rahim,793,109,276,122,10,4,4,6,803,280,128,113
1,Maurice Ager,69,7,20,1,15,4,3,1,84,23,2,11
2,Maurice Ager,69,7,20,1,36,4,6,3,105,26,4,11
3,LaMarcus Aldridge,565,24,168,144,1350,122,358,220,1915,526,364,146
4,Malik Allen,242,16,77,42,261,29,86,42,503,163,84,45

In [37]:
SevenEightTRebounds = SevenEight["Total Defensive Rebounds"] + SevenEight["Total Offensive Rebounds"]
SevenEight.head()

,name,points_x,assists_x,defensive_rebounds_x,offensive_rebounds_x,points_y,assists_y,defensive_rebounds_y,offensive_rebounds_y,Total Points,Total Defensive Rebounds,Total Offensive Rebounds,Total Asists
0,Shareef Abdur-Rahim,793,109,276,122,10,4,4,6,803,280,128,113
1,Maurice Ager,69,7,20,1,15,4,3,1,84,23,2,11
2,Maurice Ager,69,7,20,1,36,4,6,3,105,26,4,11
3,LaMarcus Aldridge,565,24,168,144,1350,122,358,220,1915,526,364,146
4,Malik Allen,242,16,77,42,261,29,86,42,503,163,84,45

In [39]:
OhNinestats = pd.read_csv("Data/stats_2009.csv", engine='python')
OhNinestats

,attempted_three_point_field_goals,blocks,slug,personal_fouls,made_three_point_field_goals,attempted_field_goals,made_free_throws,name,minutes_played,turnovers,...,games_started,age,steals,team,points,attempted_free_throws,games_played,assists,offensive_rebounds,defensive_rebounds
0,4,1,ackeral01,0,0,11,1,Alex Acker,20,0,...,0,26,2,Team.DETROIT_PISTONS,9,2,7,1,0,2
1,16,3,ackeral01,9,7,65,4,Alex Acker,179,7,...,0,26,3,Team.LOS_ANGELES_CLIPPERS,63,8,18,11,8,14
2,0,1,adamsha01,4,0,13,3,Hassan Adams,52,4,...,0,24,1,Team.TORONTO_RAPTORS,11,6,12,1,1,6
3,107,13,afflaar01,144,43,300,58,Arron Afflalo,1234,43,...,8,23,28,Team.DETROIT_PISTONS,363,71,74,44,30,104
4,6,2,agerma01,17,0,43,4,Maurice Ager,97,4,...,0,24,1,Team.NEW_JERSEY_NETS,34,8,20,3,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,21,19,wrighju01,49,2,234,17,Julian Wright,772,43,...,19,21,35,Team.NEW_ORLEANS_HORNETS,237,30,54,43,46,106
511,0,5,wrighlo02,17,0,27,3,Lorenzen Wright,125,9,...,2,33,4,Team.CLEVELAND_CAVALIERS,23,8,17,3,7,18
512,164,20,youngni01,140,56,756,164,Nick Young,1837,92,...,5,23,39,Team.WASHINGTON_WIZARDS,892,193,82,95,31,119
513,164,23,youngth01,165,56,960,139,Thaddeus Young,2580,118,...,71,20,100,Team.PHILADELPHIA_76ERS,1145,189,75,86,139,238
514,6,1,yuesu01,10,0,11,0,Sun Yue,28,3,...,0,23,1,Team.LOS_ANGELES_LAKERS,6,0,10,2,0,0

In [40]:
SevenEightNine = pd.merge(SevenEight, OhNinestats, on=['name'])
SevenEightNine.head()

,name,points_x,assists_x,defensive_rebounds_x,offensive_rebounds_x,points_y,assists_y,defensive_rebounds_y,offensive_rebounds_y,Total Points,...,games_started,age,steals,team,points,attempted_free_throws,games_played,assists,offensive_rebounds,defensive_rebounds
0,Maurice Ager,69,7,20,1,15,4,3,1,84,...,0,24,1,Team.NEW_JERSEY_NETS,34,8,20,3,3,7
1,Maurice Ager,69,7,20,1,36,4,6,3,105,...,0,24,1,Team.NEW_JERSEY_NETS,34,8,20,3,3,7
2,LaMarcus Aldridge,565,24,168,144,1350,122,358,220,1915,...,81,23,77,Team.PORTLAND_TRAIL_BLAZERS,1470,334,81,157,234,371
3,Malik Allen,242,16,77,42,261,29,86,42,503,...,3,30,7,Team.MILWAUKEE_BUCKS,156,21,49,35,35,68
4,Malik Allen,242,16,77,42,77,15,44,24,319,...,3,30,7,Team.MILWAUKEE_BUCKS,156,21,49,35,35,68

In [44]:
SevenEightNineTpoints = SevenEight["Total Points"] + OhNinestats["points"]
SevenEightNine["Total baskets"] = SevenEightNineTpoints
SevenEightNine.head()
OhNinestats['points']
print(SevenEightNineTpoints.head())
print(SevenEight['Total Points'].head())
print(OhNinestats["points"].head())

0     812.0
1     147.0
2     116.0
3    2278.0
4     537.0
dtype: float64
0     803
1      84
2     105
3    1915
4     503
Name: Total Points, dtype: int64
0      9
1     63
2     11
3    363
4     34
Name: points, dtype: int64

In [45]:
SevenEightNineTpoints = SevenEightNine["Total Points"] + SevenEightNine["points"]
SevenEightNineTpoints.head()

0     118
1     139
2    3385
3     659
4     475
dtype: int64

In [46]:
SevenEightNine["Total points overall"] = SevenEightNineTpoints
SevenEightNine.head()

,name,points_x,assists_x,defensive_rebounds_x,offensive_rebounds_x,points_y,assists_y,defensive_rebounds_y,offensive_rebounds_y,Total Points,...,steals,team,points,attempted_free_throws,games_played,assists,offensive_rebounds,defensive_rebounds,Total baskets,Total points overall
0,Maurice Ager,69,7,20,1,15,4,3,1,84,...,1,Team.NEW_JERSEY_NETS,34,8,20,3,3,7,812.0,118
1,Maurice Ager,69,7,20,1,36,4,6,3,105,...,1,Team.NEW_JERSEY_NETS,34,8,20,3,3,7,147.0,139
2,LaMarcus Aldridge,565,24,168,144,1350,122,358,220,1915,...,77,Team.PORTLAND_TRAIL_BLAZERS,1470,334,81,157,234,371,116.0,3385
3,Malik Allen,242,16,77,42,261,29,86,42,503,...,7,Team.MILWAUKEE_BUCKS,156,21,49,35,35,68,2278.0,659
4,Malik Allen,242,16,77,42,77,15,44,24,319,...,7,Team.MILWAUKEE_BUCKS,156,21,49,35,35,68,537.0,475

In [47]:
SevenEightNineTDrebounds = SevenEightNine["defensive_rebounds_x"] + SevenEightNine["defensive_rebounds_y"] + SevenEightNine["defensive_rebounds"]
SevenEightNineTDrebounds.head()

0     30
1     33
2    897
3    231
4    189
dtype: int64

In [48]:
SevenEightNine["Total defensive rebounds"] = SevenEightNineTDrebounds
SevenEightNine.head()

,name,points_x,assists_x,defensive_rebounds_x,offensive_rebounds_x,points_y,assists_y,defensive_rebounds_y,offensive_rebounds_y,Total Points,...,team,points,attempted_free_throws,games_played,assists,offensive_rebounds,defensive_rebounds,Total baskets,Total points overall,Total defensive rebounds
0,Maurice Ager,69,7,20,1,15,4,3,1,84,...,Team.NEW_JERSEY_NETS,34,8,20,3,3,7,812.0,118,30
1,Maurice Ager,69,7,20,1,36,4,6,3,105,...,Team.NEW_JERSEY_NETS,34,8,20,3,3,7,147.0,139,33
2,LaMarcus Aldridge,565,24,168,144,1350,122,358,220,1915,...,Team.PORTLAND_TRAIL_BLAZERS,1470,334,81,157,234,371,116.0,3385,897
3,Malik Allen,242,16,77,42,261,29,86,42,503,...,Team.MILWAUKEE_BUCKS,156,21,49,35,35,68,2278.0,659,231
4,Malik Allen,242,16,77,42,77,15,44,24,319,...,Team.MILWAUKEE_BUCKS,156,21,49,35,35,68,537.0,475,189

In [49]:
SevenEightNineTOrebounds = SevenEightNine["offensive_rebounds_x"] + SevenEightNine["offensive_rebounds_y"] + SevenEightNine["offensive_rebounds"]
SevenEightNineTOrebounds.head()

0      5
1      7
2    598
3    119
4    101
dtype: int64

In [50]:
SevenEightNine["Total offensive rebounds"] = SevenEightNineTOrebounds
SevenEightNine.head()

,name,points_x,assists_x,defensive_rebounds_x,offensive_rebounds_x,points_y,assists_y,defensive_rebounds_y,offensive_rebounds_y,Total Points,...,points,attempted_free_throws,games_played,assists,offensive_rebounds,defensive_rebounds,Total baskets,Total points overall,Total defensive rebounds,Total offensive rebounds
0,Maurice Ager,69,7,20,1,15,4,3,1,84,...,34,8,20,3,3,7,812.0,118,30,5
1,Maurice Ager,69,7,20,1,36,4,6,3,105,...,34,8,20,3,3,7,147.0,139,33,7
2,LaMarcus Aldridge,565,24,168,144,1350,122,358,220,1915,...,1470,334,81,157,234,371,116.0,3385,897,598
3,Malik Allen,242,16,77,42,261,29,86,42,503,...,156,21,49,35,35,68,2278.0,659,231,119
4,Malik Allen,242,16,77,42,77,15,44,24,319,...,156,21,49,35,35,68,537.0,475,189,101

In [51]:
SevenEightNineTAssists = SevenEightNine["assists_x"] + SevenEightNine["assists_y"] + SevenEightNine["assists"]
SevenEightNineTAssists.head()

0     14
1     14
2    303
3     80
4     66
dtype: int64

In [52]:
SevenEightNine["Total assists"] = SevenEightNineTAssists
SevenEightNine

,name,points_x,assists_x,defensive_rebounds_x,offensive_rebounds_x,points_y,assists_y,defensive_rebounds_y,offensive_rebounds_y,Total Points,...,attempted_free_throws,games_played,assists,offensive_rebounds,defensive_rebounds,Total baskets,Total points overall,Total defensive rebounds,Total offensive rebounds,Total assists
0,Maurice Ager,69,7,20,1,15,4,3,1,84,...,8,20,3,3,7,812.0,118,30,5,14
1,Maurice Ager,69,7,20,1,36,4,6,3,105,...,8,20,3,3,7,147.0,139,33,7,14
2,LaMarcus Aldridge,565,24,168,144,1350,122,358,220,1915,...,334,81,157,234,371,116.0,3385,897,598,303
3,Malik Allen,242,16,77,42,261,29,86,42,503,...,21,49,35,35,68,2278.0,659,231,119,80
4,Malik Allen,242,16,77,42,77,15,44,24,319,...,21,49,35,35,68,537.0,475,189,101,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,Antoine Wright,283,55,137,38,298,67,90,35,581,...,95,65,77,31,105,2369.0,1055,332,104,199
457,Antoine Wright,283,55,137,38,52,13,17,5,335,...,95,65,77,31,105,2416.0,809,259,74,145
458,Dorell Wright,393,95,232,40,347,60,172,48,740,...,6,6,2,2,18,1474.0,758,422,90,157
459,Lorenzen Wright,173,40,131,85,13,3,30,7,186,...,8,17,3,7,18,1463.0,209,179,99,46
460,Lorenzen Wright,173,40,131,85,2,1,0,1,175,...,8,17,3,7,18,1784.0,198,149,93,44

In [53]:
draft_2007_stats_final = pd.DataFrame(SevenEightNine[['name', 'Total baskets', 'Total points overall', 'Total defensive rebounds', 'Total offensive rebounds', 'Total assists']])

In [56]:
draft_2007_stats_final.to_csv('Data/draft_2007_stats_final.csv')